@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap|Lato&family=Lobster+Two:wght@700&display=swap');

/*-----------------------------------Typography*/
body{
    font-family: 'Lato', sans-serif;
}
/*-----------------------------------Navbar*/
.navbar-brand{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}
.navbar{
    padding: 1.5rem 1.5rem;
    
}


 .nav-item{
     font-family: 'Lato', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
}


/* S E C T I O N S */
/*-----------------------------------Header Section*/
.callout-container{
    height: 70vh;
    background: url('../images/image-head.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------------Header Section-Jumbotron*/
.jumbotron{
  background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
}
/*-----------------------------------Features Section*/
.features-container{
    padding: 100px 0;
}
.top{
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    
}

.feat-img img {
    width:100%;
}

.price{
    width: 60px;
    height: 60px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feat-img{
    position: relative;
}

.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features-container .fa {
   font-size: 15px;
   color: #ff5722;
}

.feature-details{
    padding: 20px;
    
}

.feature-details .fa{
    margin-right: 5px;
}

.feature-details h4{
    margin-top: 20px;
}

.feat-box{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 20px;
}

.feature-details p{
    height:50px;
    overflow: hidden;
    color: #343a40;
}

.feature-details a{
    display: inline-block;
    color:#343a40;
    margin-bottom: 20px;
}

.feature-details.showContent p {
    height: auto;
}



/*-----------------------------------Contact Section*/
.trip-container{
    height: 70vh;
    background: url('../images/image-trip.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

/*-----------------------------------Gallery Section*/

.gallery-container{
    padding: 100px 0;
}




.gallery{
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    padding-bottom: 50px;

}

.gallery-box{
    position: relative;
}

.gallery-box img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}


.gallery-box h4{
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
    font-weight: 200;
    padding-top: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    
    
}

.gallery img{
    margin-bottom: 1rem;
}
 
section img {
    margin-bottom: 15px;;
}

/*-----------------------------------Buttons*/
 .btn-outline-light{
     font-family: 'Lato', sans-serif;     
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     border:1px solid;
     border-radius: 23px;
     padding:0.5rem 1rem;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

 .btn-book{
     background-color: #ff5722;
     font-family: 'Lato', sans-serif;     
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     letter-spacing: 1px;
     margin-top: 20px;
     font-size:14px;
     border:1px solid;
     border-radius: 23px;
     padding:0.5rem 1rem;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

 .btn-book:hover{
     background-color:#df4929;
 }

 /*-----------------------------------Hover.css*/
 .hvr-icon-grow{
      
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
 }

.hvr-icon-grow:hover,
.hvr-icon-grow:focus,
.hvr-icon-grow:active {
    transform: scale(1.1);
    
}
 
 /*-----------------------------------Footer*/

 footer{
    background-color: #343a40!important;
    color: #fafafa;
    min-height: 200px;
    margin:0;
    font-family: 'Lato', sans-serif;
     padding: 1.5rem 1.5rem;

 }

 #footer-details {
    padding:40px;
}

.social-links li a i {
    width:32px;
    height: 32px;
    padding: 12px 0;
    margin:auto;
    border-radius: 50%;
    font-size:30px;
    line-height: 7px;
    color:#fff;
    margin-right: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover{
    color:rgb(169,169,169);
}


.quick-links{
    margin-top: 30px;;
}
.quick-links li a{
    text-transform: uppercase;
    color:#fff;
    padding: 12px 0;
    text-decoration: none;
    margin-right: 10px;
    font-size:15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    

}

.quick-links li a:hover{
    color:rgb(169,169,169);
}

.block-divider--white{
    background-color: #fff;
}

 


 /*-------------------------------------Map*/
#map {min-height: 460px;}


/*-------------------------------------Media Queries*/
@media(min-width:768px){
.gallery-box h4{
   font-size: 2rem;
}
}