@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap|Lato&family=Lobster+Two:wght@700&display=swap');

/*-----------------------------------Typography*/
body{
    font-family: 'Lato', sans-serif;
}
/*-----------------------------------Navbar*/
.navbar-brand{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}
.navbar{
    padding: 1.5rem 1.5rem;
    
}


 .nav-item{
     font-family: 'Lato', sans-serif;
     font-weight:300;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     
}
/* S E C T I O N S */
/*-----------------------------------Header Section*/
.callout-container{
    height: 80vh;
    background: url('../images/image-head.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------------Header Section-Jumbotron*/
.jumbotron{
  background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
}
/*-----------------------------------Features Container*/
.features-container{
    padding: 100px 0;
}
.top{
    text-align: center;
    padding-bottom: 30px;
}

.feat-img img {
    width:100%;
}

.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left: 20px;
    bottom: -25px;
}

.feat-img{
    position: relative;
}

.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.features-container .fa {
   font-size: 15px;
   color: #ff5722;
}

.feature-details{
    padding: 20px;
    text-align: justify;
}

.feature-details .fa{
    margin-right: 5px;
}

.feature-details h4{
    margin-top: 20px;
}


/*-----------------------------------Buttons*/
 .btn-outline-light{
     font-family: 'Lato', sans-serif;     
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-size:14px;
     border:1px solid;
     border-radius: 23px;
     padding:0.5rem 1rem;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
 }

 /*-----------------------------------Forms*/
 .input-group{
     border: 0 !important;
     border-radius: 30px !important;
     margin: 2px;
     box-shadow: none !important;
 }
.form-control{
    border-radius: 30px;
}
 .input-group-text{
     width: 100px;
     background-image: linear-gradient(#00ff7e, #1f3d90);
     border: 0 !important;
     color: #fff !important;
     padding: 0 25px;
     border-radius: 30px;
     box-shadow: none;
 }

 /*-------------------------------------Map*/
#map {min-height: 460px;}